ul#tabnav {
font: bold 11px verdana, arial, sans-serif;
list-style-type: none;
padding-bottom: 24px;
border-bottom: 1px solid #000000;
margin: 0;
}

ul#tabnav li {
float: left;
height: 21px;
background-color: #d7d7d7;
margin: 2px 2px 0 2px;
border: 1px solid #000000;
}

#tabnav li.active {
border-bottom: 1px solid #000000;
background-color: #c3d3e0;
}


#tabnav a {
float: left;
display: block;
color: #000000;
text-decoration: none;
padding: 4px;
}

#tabnav a:hover {
background: #efefef;
}
